{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
                <h2 class="animate__animated animate__fadeInDown">Welcome  {{ user.username|title  }}</h2>
                {% else %}
                <h2 class="animate__animated animate__fadeInDown">Please<span> Login</span></h2>
                <a href="login" class="btn-get-started animate__animated animate__fadeInUp scrollto">login</a>
                <h2 class="animate__animated animate__fadeInDown">New to here <span> Register a Account</span></h2>
                <a href="register" class="btn-get-started animate__animated animate__fadeInUp scrollto">Register here</a>
                
  {% endif %}
{% endblock content %}